.container {
    position: absolute;
    left: 50%;
    top: 50%;

    .icon {
        width: 1rem;
        height: 1rem;
        fill: #ffffff;
        opacity: 0.9;
        box-shadow: 3px 0 6px #00000029;
    }
}
