@import 'node_modules/normalize.css/normalize.css', 'fonts';

html,
body {
    font-family: Roboto, sans-serif;
    color: #fff;
    height: 100%;
    font-size: 1rem;
}

#__next {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

canvas {
    width: 100vh;
    height: 100vh;
}
