$settings-border: 1px solid rgba(112, 112, 112, 0.7);

.container {
    background: rgb(0, 0, 0);
    flex: 1;

    .nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        border-bottom: $settings-border;
        margin-bottom: 2rem;

        .header {
            display: flex;
            flex: 1;
            justify-content: center;
        }

        .icon {
            height: 1.5rem;
            width: 1.5rem;
            position: absolute;
            margin-top: 0.5rem;
            cursor: pointer;
        }
    }

    .section {
        margin: 1rem 0;

        &.tab {
            display: flex;
        }

        .text {
            padding: 0.75rem 1rem;
            margin: 0;
            text-transform: uppercase;
            color: #bbbbbb;
            font-size: 0.875rem;
        }

        .control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #262424;
            border: $settings-border;
            user-select: none;

            .tab {
                display: flex;
                align-items: center;
                border-radius: 0.5rem;
                border: 1px solid #a5a4a4;
                height: 2rem;
                margin: 0 1rem;

                &.active {
                }

                .label {
                    padding: 0 0.5rem;
                    font-weight: 400;
                    font-size: 0.875rem;
                    border-right: 1px solid #a5a4a4;

                    &:last-of-type {
                        border-right: none;
                    }
                }
            }

            .label {
                display: flex;
                align-items: center;
                font-size: 1rem;
                padding: 0.25rem 1rem;
                height: 2.5rem;
            }

            .radio {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            .iconCheck {
                display: flex;
                width: 1.5rem;
                height: 1.15rem;
                padding: 0 1rem;
                animation: fadeIn 300ms;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
